.wapper {
    margin: auto;
    margin-top: 30px;
}

.types { 
    margin: auto;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 320px 320px 320px ;
    text-align: center;
}
.type {
    width: 190px;
    height: 295px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin: 20px 0px;
    text-align: center;
}
.image {
    width: 151px;
    height: 145px;
}
.sizes {
    padding-top: 20px;
}
.price {
    display: flex;
    justify-content: center;
    padding-top: 20px; 
}
.priceLeft{
    text-decoration: line-through;
    padding-right: 30px;
}
.priceRight {
    color: red;
    font-size: 18px;
}
@media screen and (max-width: 1024px) {
    .wapper {
        margin: auto;
        margin-top: 30px;
    }
    .title {
        margin-left: 40px;
    }
    .types { 
        display: grid;
        grid-template-columns: repeat(4, auto);
    }
    .type {
        width: 211px;
        height: 307px;
        border-radius: 15px;
        margin: 20px 20px;
    }

}

@media screen and (max-width: 800px) {
    .types { 
        grid-template-columns: repeat(3, auto);
    }
}
@media screen and (max-width: 600px) {
    .wapper {
        margin-top: 10px;
    }
    .title {
        font-size: 20px;
    }
    .types { 
        grid-template-columns: repeat(2, auto);
    }
}
@media screen and (max-width: 600px) {
    .types { 
        grid-template-columns: repeat(2, auto);
    }
    .type {
        width: 196px;
        height: 286px;
        margin: 15px 15px;

    }
    .image {
        width: 151px;
        height: 145px;
    }
    .sizes {
        padding-top: 20px;
    }
    .price {
        display: flex;
        justify-content: center;
        padding-top: 20px; 
    }
    .priceLeft{
        text-decoration: line-through;
        padding-right: 30px;
    }
    .priceRight {
        color: red;
        font-size: 18px;
    }
}
@media screen and (max-width: 414px) {
    .types { 
        grid-template-columns: repeat(1, auto);
    }
}