
.works {
    height: 404px;
    background-color: #F0EFEF;
    display: flex;
    
}
 .title {
    margin-top: 50px;
    text-align: center;
}
.work {
    width: 269px;
    height: 334px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    text-align: center; 
}

.image {
    width: 269;
    height: 255px;
    object-fit: cover;
}
@media screen and (max-width: 1024px) {
    .title {
        margin-top: 20px;
    }
    .work {
        width: 250px;
        height: 334px;
      
    }
}